
@{
    ViewData["Title"] = "Successful Payment";
}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success Payment!</h4>
    <p>Thank You , your Payment Is Successful . Your order is being processed .</p>
    <hr>
    <p class="mb-0">We appreciate for your trust .</p>
</div>